<script>
import {defineComponent} from 'vue'

export default defineComponent({
    name: "ShortLinkRouter",
    props: {
        shortLinkKey: String
    },
    data() {
        return {
            keyNotFound: false
        }
    },
    mounted() {
        this.$http.get(`${this.$apiDomain}/short-links/${this.shortLinkKey}`)
            .then(resp => {
                window.location = resp.data.redirectUrl;
            }).catch(_ => this.keyNotFound = true);
    }
})
</script>

<template>
    <div v-if="keyNotFound">
        <h1>404</h1>
        <p>Could not find short link: <code>{{ shortLinkKey }}</code></p>
    </div>
    <h1></h1>
</template>

<style scoped lang="scss">

</style>