<template>
    <div class="d-flex align-items-center">
        <strong>Loading...</strong>
        <div class="spinner-border ms-auto" role="status" aria-hidden="true"></div>
    </div>
</template>

<script>
export default {
    name: "AccordionLoader"
}
</script>

<style scoped>

</style>