<template>
    <div
        class="modal fade"
        tabindex="-1"
        role="dialog"
        aria-hidden="true"
        v-bind="$attrs"
        :id="id"
    >
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5
                        class="modal-title"
                        :id="id"
                        v-if="modalTitle"
                        v-html="modalTitle"
                    ></h5>
                    <button
                        type="button"
                        class="close"
                        data-dismiss="modal"
                        aria-label="Close"
                        v-if="dismissable"
                    >
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body d-flex flex-column">
                    <slot></slot>
                </div>
                <div class="modal-footer">
                    <slot name="modal-footer"></slot>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'Modal',
    props: {
        id: String,
        dismissable: Boolean,
        modalTitle: String
    }
};
</script>

<style lang="scss" scoped>

</style>
