<template>
    <router-link :to="url">
        <div class="card">
            <img v-if="imageUrl" :src="imageUrl" class="card-img-top" :alt="imageAlt">
            <div class="card-body">
                <h5 v-if="cardTitle" class="card-title">{{ cardTitle }}</h5>
                <h6 v-if="cardSubtitle" class="card-subtitle mb2 text-muted">{{ cardSubtitle }}</h6>
                <p v-if="cardText" class="card-text">{{ cardText }}</p>
            </div>
        </div>
    </router-link>
</template>

<script>
export default {
    name: "ModuleCard",
    props: {
        url: String,
        imageUrl: String|null,
        imageAlt: String|null,
        cardTitle: String,
        cardSubtitle: String,
        cardText: String
    }
}
</script>

<style lang="scss" scoped>
a {
    text-decoration: none;

    .card:hover {
        background: var(--bs-secondary-bg);
    }
}

img {
    max-height: 110px;
}
</style>