<template>
    <div aria-live="polite" aria-atomic="true" class="position-static">
        <div class="toast-container top-0 start-0 p-3">
            <div v-for="(toast, index) in toasts" class="toast fade show" :class="`text-bg-${toast.type}`" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header">
                    <i :class="`bi bi-${toast.icon}`"></i>
                    <span class="me-auto">
                        {{ toast.title }}
                    </span>
                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
                <div class="toast-body">{{ toast.message }}</div>
            </div>
        </div>
    </div>
</template>

<script>

export default {
    name: "Toasts",
    data() {
        return {
            toasts: []
        }
    },
    methods: {
        success(message, title) {
            this.toasts.push({
                type: 'success',
                icon: 'check-lg',
                title: title ?? 'Success',
                message: message
            });
        },
        warning(message, title) {
            this.toasts.push({
                type: 'warning',
                icon: 'exclamation-diamond-fill',
                title: title ?? 'Warning',
                message: message
            });
        },
        error(message, title) {
            this.toasts.push({
                type: 'danger',
                icon: 'x-circle-fill',
                title: title ?? 'Error',
                message: message
            });
        }
    }
}
</script>

<style lang="scss" scoped>
.bi {
    margin-right: 5px;
}
</style>