<template>
    <div class="ratio ratio-16x9">
        <iframe v-if="iframeUrl !== null" class="embed-responsive-item" :src="iframeUrl" allowfullscreen></iframe>
        <a :href="url" target="_blank" v-else>{{ url }}</a>
    </div>
</template>

<script>
export default {
    name: "YoutubeEmbed",
    props: {
        url: String
    },
    computed: {
        // https://stackoverflow.com/a/21607897/1509431
        iframeUrl() {
            const regExp = /^.*(youtu.be\/|v\/|u\/\w\/|embed\/|watch\?v=|&v=)([^#&?]*).*/;
            const match = this.url.match(regExp);

            return (match && match[2].length === 11)
                ? `https://www.youtube.com/embed/${match[2]}?rel=0`
                : null;
        }
    }
}
</script>

<style scoped>

</style>