<template>
    <admin-wrapper>
        <div class="row">
            <div class="col-12">
                <h1>Modules</h1>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <module-card url="/admin/winners-club-contracts"
                             image-url="/img/wcb-logo.png"
                             image-alt="Winners's Club Contracts Logo"
                             card-title="Winner's Club Contracts"
                             card-subtitle="Maintain the Winner's Club Contract Collection"/>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <module-card url="/admin/competitions"
                             card-title="Competitions"
                             card-subtitle="Maintain Competitions and Their Submissions"/>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <module-card url="/admin/short-links"
                             card-title="Short Links"
                             card-subtitle="Manage Short Links"/>
            </div>
        </div>
    </admin-wrapper>
</template>

<script>
import AdminWrapper from "@/AdminWrapper.vue";
import ModuleCard from "@/components/ModuleCard.vue";
export default {
    name: "AdminHome",
    components: {ModuleCard, AdminWrapper}
}
</script>

<style scoped>

</style>